.service1 {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #111A20; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-con1 {
    max-width: 925px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.header-con1 {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.header-con1 h1{ 
    font-size: 30px;
    color: #FFA97A;
    font-weight: 700;
}
.header-con1 p {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.service-info-con1{
    width: 800px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-container1 {
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background-color: #182228;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}
.info-1con1{
    width: 270px;
    height: 25px;
}
.header-info1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-info1 img {
    width: 20px;
    height: 20px;
    padding-right: 20px;
}
.header-info1 p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.info-1-11 {
    width: 300px;
    height: 120px;
}
.info-1-11 p {
    font-size: 18px;
    color: #8B8B8B;
    font-weight: 300;
}
.btn-container1 {
    width: 145px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container1 button {
    width: 140px;
    height: 50px;
    border: 1px solid #FFA97A;
    background-color: #182228;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}